
vendor
composer.lock
vendor/autoload.php
vendor/bin/psysh
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php

vendor/*.*
vendor/composer/installed.json
